@import "compass/layout/stretching"
@import "compass/utilities"
@import "compass/css3"

.livemark__header,
.livemark__footer
  background-color: #ccc

.livemark__editor-wrap
  background-color: #eee

.livemark__preview-wrap
  background-color: #eee

.livemark__editor
  background-color: transparent

.livemark__editor-wrap,
.livemark__preview-wrap
  +box-sizing(border-box)
  width: 50%
  position: relative
  +inline-block
  height: 90%


.livemark__editor,
.livemark__preview
  overflow-y: scroll
  +stretch
  border: none
  padding: 10px


.livemark__editor
  resize: none
  width: 100%
  outline: none
  margin: 0

.livemark__preview:empty:before
  content: 'And it renders here'
