@import "compass/layout/stretching"
@import "compass/utilities"
@import "compass/css3"

.livemark__container
  border: solid 1px black

.livemark__editor-wrap,
.livemark__preview-wrap
  +inline-block
  position: relative
  width: 50%
  height: 100%


.livemark__editor,
.livemark__preview
  +stretch
  overflow-y: auto
  border: none


.livemark__editor
  resize: none
  width: 100%
  outline: none
  margin: 0

.livemark__preview
  border-left: solid 1px

.livemark__preview:empty:before
  content: '... and it renders here!'
